// Spacings
$spacer-base: 8px;
$spacer-block: 10px;

// Colors
$color-sunburnt-cyclops: #ff4a57;
$color-watermelon-red: #bf3741;
$color-white: #fff;
$color-dark-gunmetal: #202234;
$color-bright-gray: #e9e9e9;

// Borders
$radius: 8px;
$radius-full: 50px;
